

extends layout

block content
  h1= title
  div(class="container-fluid")
  - let create = `dispatch(\"/gift")`
    button.btn( class="btn-primary ml-1", onclick= create) Create
  div(class="row m-1")
  each result in results
    - let destination = `dispatch(\"/gift/update?id=${result._id}\")`
    - let destination1 = `dispatch(\"/gift/delete?id=${result._id}\")`
    - let destination2 = `dispatch(\"/gift/detail?id=${result._id}\")`
    div(class="row-sm-2" class="m-1") Item Cost #{result.gifttype} for #{result.occasion} is #{result.cost}
    button.btn( class="btn-primary ml-1", onclick= destination) Update
    button.btn( class="btn-primary ml-1", onclick= destination1) Delete
    button.btn( class="btn-primary ml-1", onclick= destination2) detail


  script.
    function dispatch(path){
      window.location.href=path
    }